
  /* colors: #14213d, #000000, #ffffff, #fca311, # e5e5e5 
   */

 

 .dark-mode {
    background-color: #14213d;
    color: white;
  }
  body {
    padding: 25px;
    background-color: white;
    color:  #14213d;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    line-height: 1.6;
  }

  h1 {
    font-size: 40 px;
    color: #fca311;
    text-decoration: underline;
  }
  
   h2 {
    color: #fca311;
    margin-bottom: 15px;
  }

  section {
    margin-bottom: 50px;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
  }


  iframe {
    width: 100%;
    height: 450px;
    display: block;
    border-radius: 8px;
    margin-top: -25px;
  }
  
  .popup {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    background-color: #fca311;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s ease;
    position: fixed;
    width: 96%;
    margin-top: 15px;
  }
  
  .navbar {
      background-color: #14213d !important;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      transition: top 0.4s ease;
      border-radius: 5px;
      font-size: 20px;
  }

  .navbar a, .navbar .navbar-brand, .navbar .nav-link {
    color: white;
    display: flex;
    align-items: center;
    background-color: transparent;
}

  
  .navbar-nav .nav-item {
    margin-right: 15px; 
  }
  
  .navbar-brand {
    font-size: 30px;
    font-weight: bold;
  }

  .nav-link:hover,
  .nav-link:focus {
  color: #fca311; 
  background-color: transparent;
}

#dropdownlinks {
    background-color:#14213d;
}

#dropdownlinks.dark-mode {
    background-color: white;
}

  .navbar.dark-mode {
    background-color: white !important;
    color: #14213d;
  }

  .navbar.dark-mode a, .navbar.dark-mode .navbar-brand, .navbar.dark-mode .nav-link {
    color: #14213d ; 
   }
  
  .navbar.hidden {
      top: -180px;
  }
  
  

  p {
    flex: 1;
    font-size:22px;
  }

  .content {
    padding: 80px 20px;
    max-width: 800px;
    margin: 0 auto;
  }

  .link {
    color: #14213d;
    text-decoration: none;
  }

  .link1 {
    color: #14213d;
    text-decoration: underline;
  }

  .link.dark-mode, .link1.dark-mode {
    color: white;
  }

  .link:hover, .link1:hover {
    color: #fca311;
  }

  .p1 {
    font-size: 15px;
    padding-bottom: 10px;
  }

  .p2 {
    font-size: 15px;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 70%
  }


  .durov9 {
    width: 70%;
    margin: 0 auto;
    height: auto;
  }

  .navbar-toggler, .navbar-toggler-icon {
    color: white !important;
}

#navbaricon {
    color: white !important
}

#toggledarkmode {
    color: white;
    cursor: pointer;
  }

#toggledarkmode.dark-mode {
    color: #14213d;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }




  

  @media (max-width: 768px) {
    body {
      font-size: 16px;
    }

    iframe {
        height: 200px;
      }
    
    h1 {
        font-size: 21px;
    }

    p {
        font-size:15px;
    }

    h2 {
        font-size: 18px;
    }

    .p1 {
        font-size: 8px;
    }

    .p2 {
        font-size: 8px;
    }

    .navbar {
        width: 100%;
    }

    .popup {
        width: auto;
    }
}

