
  /* colors: #14213d, #000000, #ffffff, #fca311, # e5e5e5 
   */
 

 .dark-mode {
    background-color: #14213d;
    color: white;
  }
  body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .popup {
      font-family: "Montserrat", serif;
      font-optical-sizing: auto;
      font-style: normal;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      font-size: 30px;
      z-index: 1000;
      transition: top 0.3s ease;
      background-color:rgba(0, 0, 0, 0);
      color: #14213d;
      border: none;
      outline:none;
      height:30px;
  }

  .popup.dark-mode {
    color: white;
  }
  
  .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      transition: top 0.3s ease;
  }
  
  .navbar.hidden {
      top: -50px; /* hide nav */
  }
  
  
  main {
      padding: 80px 20px;
  }
  
  section {
      margin-bottom: 50px;
      padding: 50px;
      border: 1px solid #ccc;
  }
  